---
---

@import "{{ site.theme }}";

body {
  background-color: #FAFAFA;
}
h1 a {
color: #1d1d1f;
font-family: "SF Pro Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 a:hover {
color: #1d1d1f;
font-family: "SF Pro Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p.view  {
  visibility: hidden;
  opacity: 0;
  }
p {
text-color: #6d7178;
}
p.description {
text-color: #727272;
}
